doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Haxe for Makers
    link(rel="icon",href="/css/images/logo.png")
    meta(name='description', content='If you like strongly typed languages, but also the flexibility of JavaScript, Haxe is probably your best bet. Discover the features that make Haxe not just a transpiler, but much much more. Ideal for game makers (it can target natively basically any device on the market), it is Open Source and community driven.')
    meta(name='author', content='Franco Ponticelli @fponticelli')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='css/sh.css', rel='stylesheet', type='text/css')
    script(src='js/jquery.min.js')
    script(src='js/velocity.min.js')
    script
      | $.animate = $.velocity;
    script(src='js/jmpress.custom.js')
    script(src='js/sh.js')
    script(src='js/sh_haxe.js')
    script(src='js/main.js')
  body
    .bg
    #presentation
      include slides/index