h2 Abstracts #3

pre.sh_javascript(data-jmpress="fade after step").
  var rgb;
  var rgb1 = Std.parseInt("0xBADA55");
  rgb = rgb1;
  console.log(rgb >> 8 & 255);
  console.log("Nice color " +
    ("#" + StringTools.hex(rgb >> 16 & 255) +
    StringTools.hex(rgb >> 8 & 255) +
    StringTools.hex(rgb & 255)) +
    "!");

// newlines added for readability
