h2 Array Comprehension

pre.sh_javascript(data-jmpress="fade after step").
  var arr = [];
  for(var i = 0; i < 5; i++) {
    arr.push(i*2);
  }

br

pre.sh_haxe(data-jmpress="fade after .sh_javascript").
  var arr = [for(i in 0...5) i*2];

// for cycles have scared a lot of developer, get used to them and you will love them