h2 Conclusions

ul
  li(data-jmpress="fade after step")
    a(href="http://haxe.org/") haxe.org
  li(data-jmpress="fade after li:nth-child(1)")
    a(href="http://haxe.org/manual/introduction.html") Haxe Manual
  li(data-jmpress="fade after li:nth-child(2)")
    a(href="http://try.haxe.org") try.haxe.org
  li(data-jmpress="fade after li:nth-child(3)")
    a(href="http://stackoverflow.com/questions/tagged/haxe") Stack Overflow
  li(data-jmpress="fade after li:nth-child(4)")
    a(href="https://github.com/trending?l=haxe") Github
  li(data-jmpress="fade after li:nth-child(5)")
    a(href="https://twitter.com/haxelang")
      i.fa.fa-twitter
      | &nbsp; #haxelang

// scratch the surface
// concepts specific to JS and generic