header
  h1 Haxe:<br>The King of Transpilers
  br
  br
  h2 by Franco Ponticelli
  br
  h3
    i.fa.fa-twitter
    | <br>
    a(href="http://twitter.com/fponticelli",target="_blank") @fponticelli

article

footer
  div Boston Software Engineers