h2 The End

h3(data-jmpress="fade after step")
  i.fa.fa-twitter
  | <br>
  a(href="http://twitter.com/fponticelli",target="_blank") @fponticelli

figure(data-jmpress="fade after h3")
  img(data-src="images/memes/usehaxe.jpg")