h2 The End

h4.center(data-jmpress="fade after step")
  a(href="https://twitter.com/fponticelli",target="_blank")
    i.fa.fa-twitter
  | &nbsp;&nbsp;&nbsp;
  a(href="https://github.com/fponticelli",target="_blank")
    i.fa.fa-github
  | <br>
  | fponticelli

figure(data-jmpress="fade after h3")
  img(data-src="images/memes/usehaxe.jpg")