h2 Enums

pre.sh_haxe(data-jmpress="fade after step").
  enum Color {
    Black;
    White;
  }

pre.sh_haxe(data-jmpress="fade after pre").
  enum Color {
    Black;
    White;
    RGB(r : Int, g : Int, b : Int);
  }