h2 Enums

pre(data-jmpress="fade after step").
  enum Color {
    Black;
    White;
  }

pre(data-jmpress="fade after pre").
  enum Color {
    Black;
    White;
    RGB(r : Int, g : Int, b : Int);
  }