h2 Evolution at a different pace

figure(data-jmpress="fade after pre")
  img(data-src="images/memes/macros.jpg")

// features can be added to the langugage without waiting for any higher authority ta make a decision
// optimizations can happen as part of the evolution of the Haxe ecosystem 
  // unwrappint loops