h2 Misc Optimizations

pre -D js-flatten
pre -D analyzer

figure(data-jmpress="fade after pre")
  img.size75(data-src="images/memes/compiling.jpg")

// better support for nodejs
// super fast compiling time