h2 Haxe Targets

.split-big
  .left
    ul
      li(data-jmpress="fade after step") JavaScript
      li(data-jmpress="fade after li:first-child") Java
      li(data-jmpress="fade after li:nth-child(2)") C++
      li(data-jmpress="fade after li:nth-child(3)") C#
      li(data-jmpress="fade after li:nth-child(4)") Flash 
        .small (runtime)
  .right
    ul
      li(data-jmpress="fade after li:nth-child(5)") ActionScript 3 
        .small (language)
      li(data-jmpress="fade after li:nth-child(6)") PHP 
        .small (I did that)
      li(data-jmpress="fade after li:nth-child(7)") Python 
        .small (v.3.2)
      li(data-jmpress="fade after li:nth-child(8)") Neko