#cover.step
  include cover
#definitions.step(data-x='1000')
  include what-is-haxe
  #toolkit.step(data-x='-220',data-y='450',data-scale="0.48")
    include haxe-toolkit
  #targets.step(data-x='220',data-y='450',data-scale="0.48")
    include haxe-targets
  #mature.step(data-x='-220',data-y='746',data-scale="0.48")
    include haxe-mature
  #games.step(data-x='220',data-y='746',data-scale="0.48")
    include haxe-games
#typesystem.step(data-x='2000')
  include type-system
  #typesystem2.step(data-x='-220',data-y='450',data-scale="0.48")
    include type-system-2

#sugar.step(data-x='3000')
  include sugar
  #stringinterpolation.step(data-x='-220',data-y='450',data-scale="0.48")
    include string-interpolation
  #arraycomprehension.step(data-x='220',data-y='450',data-scale="0.48")
    include array-comprehension

#optimization.step(data-x='4000')
  include optimization
  #inline.step(data-x='-220',data-y='450',data-scale="0.48")
    include inline
  #dce.step(data-x='220',data-y='450',data-scale="0.48")
    include dce
  #conditional-compilation.step(data-x='-220',data-y='746',data-scale="0.48")
    include conditional-compilation
  #flatten.step(data-x='220',data-y='746',data-scale="0.48")
    include flatten

#enums.step(data-x='5000')
  include enums
  #enums2.step(data-x='-220',data-y='450',data-scale="0.48")
    include enums2
  #pattern-matching0.step(data-x='220',data-y='450',data-scale="0.48")
    include pattern-matching0
  #pattern-matching.step(data-x='-220',data-y='746',data-scale="0.48")
    include pattern-matching
  #pattern-matching2.step(data-x='220',data-y='746',data-scale="0.48")
    include pattern-matching2
  #pattern-matching3.step(data-x='-220',data-y='1042',data-scale="0.48")
    include pattern-matching3
  #pattern-matching4.step(data-x='220',data-y='1042',data-scale="0.48")
    include pattern-matching4

#abstracts.step(data-x='6000')
  include abstracts
  #abstracts2.step(data-x='-220',data-y='450',data-scale="0.48")
    include abstracts2
  #abstracts3.step(data-x='220',data-y='450',data-scale="0.48")
    include abstracts3

#externs.step(data-x='8000')
  include externs

#understand.step(data-x='9000')
  include compiler-understand-code
  #macro.step(data-x='-220',data-y='450',data-scale="0.48")
    include macro

#evolution.step(data-x='10000')
  include evolution

#end.step(data-x='11000')
  include end