h2 Inlining

pre.sh_haxe(data-jmpress="fade after step").
  inline public function getNameLength() {
    return name.length;
  }

  // usage
  trace(instance.getNameLength());

br

pre.sh_haxe(data-jmpress="fade after .sh_haxe").
  console.log(instance.name.length);