h2 Macro #3

pre.sh_haxe(data-jmpress="fade-out after step").
  class RenderFly implements ISystem {
    // ...
    public function update(position : Position, f : Fly) {
      // ...
    }

pre.sh_haxe(data-jmpress="fade-out after pre").
    public var componentRequirements(default, null) : Array<Class<Dynamic>> = [Position, Fly];
    // ...
  }

// remove `boiler plate` code
// types as values