h2 Macro

ul
  li(data-jmpress="fade after step") generate types
  li(data-jmpress="fade after li:nth-child(1)") process and embed assets
  li(data-jmpress="fade after li:nth-child(2)") read configurations and file contents
  li(data-jmpress="fade after li:nth-child(3)") smart templates
  li(data-jmpress="fade after li:nth-child(4)") ... and much more