h2 Modules

ul
  li(data-jmpress="fade after slide") directories match packages/namespaces
  li(data-jmpress="fade after li-nth-child(1)") a file is a Module
  li(data-jmpress="fade after li-nth-child(2)") a module contains one or more types
  li(data-jmpress="fade after li-nth-child(3)") include types by using `import` or `using`