h3 Pattern Matching - Structure Matching

pre.sh_haxe(data-jmpress="fade after step").
  var myStructure = {
    name: "haxe",
    rating: "awesome"
  };

  return = switch myStructure {
    case { name: "haxe", rating: "poor" }:
      throw false;
    case { rating: "awesome", name: n }:
      n;
    case _:
      "no awesome language found";
  };