h3 Pattern Matching - Variable Capture

pre.sh_haxe(data-jmpress="fade after step").
  var myTree = Node(
        Leaf("foo"),
        Node(
          Leaf("bar"),
          Leaf("foobar")
        )
      );

  return switch myTree {
    case Leaf(s): s;
    case Node(Leaf(s), _): s;
    case _: "none";
  };