h2 String Interpolation

pre.sh_javascript(data-jmpress="fade after step").
  return
    'My name is ' + name.toUpperCase() +
    ' and I am ' + age + ' old';

br

pre.sh_haxe(data-jmpress="fade after .sh_javascript").
  return
    'My name is ${name.toUpperCase()} and I am $age old';