h2 Generics

pre.sh_haxe(data-jmpress="fade after step").
  var a = [1,2,3];
pre.sh_haxe(data-jmpress="fade after pre:nth-child(1)").
  var a : Array&lt;Int&gt; = [1,2,3];

figure(data-jmpress="fade after pre:nth-child(1)")
  img.size80(data-src="images/memes/generics.jpg")