h2 Type System #1

pre.sh_javascript.js(data-jmpress="fade after step").
  var name = "Haxe";

pre.sh_java.generic(data-jmpress="fade after .js").
  String name = "Haxe";

pre.sh_haxe(data-jmpress="fade after .generic").
  var name = "Haxe";

div(data-jmpress="fade after .sh_haxe")
  p.center equivalent to

  pre.sh_haxe.
    var name : String = "Haxe";

  pre.sh_haxe(data-jmpress="fade after sh_haxe").
    name = 1; // compiler error!
