h2 Generics

.split-big
  .left
    pre.sh_haxe(data-jmpress="fade after step").
      var a = [1,2,3];
    pre.sh_haxe(data-jmpress="fade after pre:nth-child(1)").
      var a : Array&lt;Int&gt; = [1,2,3];
  .right
    figure(data-jmpress="fade after pre:nth-child(2)")
      img(data-src="images/memes/generics.jpg")